.card {
  background-color: white;
  height: 80px;
  width: 440px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  
}




.card img{
height: 70px;
width: 70px;
margin-left: 4px;
border-radius: 5px;
}

 .details{
  height: 70px;
  text-align:start;
  margin-left: -40px;
  width: auto;
  background-color: #fff;
}

.details h2{
  
  font-weight: bold;
  color: black;
  margin: 0;
  background-color: #fff;

}

.details p{
  font-size: 13px;
  background-color: #fff;

}


.card .btns {
  position: relative;
  margin-right: 5px;
  background-color: #fff;

}

.card .btns button {
  background-color: #007bff;
  margin: 5px;
  position: relative;
  padding: 5px;
  width: 60px;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  transition: .1s ease;
}

.card .btns button:hover{
  background-color: #0055ff;
}