/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Roboto&display=swap');

/* Global Styles */
* {
    font-family: 'Roboto', sans-serif;

}
.App{
  position: relative;
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  position: fixed; /* Fix the element's position to the viewport */
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
}


/* Header Styles */
.Header {
    font-weight: bold;
    height: auto;
    position: absolute;
    width: auto;
    top: 0%;
    left: 44%;
    font-size: 40px;
    font-weight: bold;
    height: auto;
     margin: 0px;
     z-index: 5;

     
}

.Header h1{
    text-align: center;
}



/* Body Styles */
.body{
  position: absolute;
  display: flex;
  background-color: #d0cbd8;
  height: 100%;
  width: 100%;
  transition: .2s ease;
}
/* body */

.body .container {
    width: 100%;
    position: absolute;
    left: 0%;
    top: 2%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #fff;
}

.container a{
  width: 15%;
}
.container button {
  width: 100%;
  height: 30px;
  background-color: #007bff;
  border-radius: 5px;
  text-align: center; 
  font-size: 15px;
  border: none;
 
  color: #fff; 
  position: relative;
  transition: .3s ease;
}


.container button:hover {
  background-color: #0055ff;
}
/* BODY CONTENT */
.table {
  background-color: #fff;
  height: 84%;
  width: 96%;
  position: absolute;
  top: 10%;
  left:2%;
  border-radius: 5px;
  padding: 0px 20px;
  box-shadow: 0px 1px 1px black;

}

.list {
    height: 80%;
    background-color: #d0cbd8;
    width: 97.3%;
    top: 17.5%;
    position: absolute;
    overflow-y: scroll;
    border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.189) solid;
    border-top: 2px #1b1b1b87 solid;
    z-index: 7;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    height: min-content;
    padding: 10px;
}



/* END OF BODY */

/* side side */

.sideBtn {
  color: #1b1b1b;
  text-decoration: none;
  font-size: 18px;
  text-align: left;
  text-indent: 30px;
  line-height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align:left;
  text-indent: 40px;
  border-bottom: 1px #1b1b1b solid;
  border-collapse: collapse;
  font-weight: 500;
  display: block;
  width: 100%;
  background: #fff;
  transition: background 0.4s;
}


/* Hover effect for menu links */
.sideBtn:hover {
  background: #1b94e6;
}



/* Styles for menu sub-item links */
nav ul ul li {
  line-height: 42px;
  border-top: none;
}

/* Simplify .btn styles */
.btn {
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #fff;
  border: 1px #1b1b1b7c solid;
  box-shadow: 0px 1px 1px;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
  z-index: 99;
}

.btn.click {
  left: 260px;
}


/* Simplify .sidebar styles */
.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #fff;
  transition: left 0.4s ease;
  z-index: 99;
  box-shadow: 1px 0px 2px #1b1b1ba9;
  border: 1px #1b1b1b8d solid;
}

.sidebar.show {
  left: 0px;
}

.sidebar .text {
  color: #1b1b1b;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #fff;
  letter-spacing: 1px;
}

/* Simplify .content styles */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #202020;
  z-index: -1;
  text-align: center;
}

.content .header{
  font-size: 45px;
  font-weight: 600;
}
.content p{
  font-size: 30px;
  font-weight: 500;
}

/* Sidebar */


.footer{
  background-color: black ;
  position: absolute;
  height: 29.5px;
  bottom: 0%;
  width: 100%;
}

/* Hamburger */

#nav-icon3{
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff;
  justify-content: center;
  align-content: center;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  margin-left: 2px;
  margin-top: 7px;
  height: 5px;
  width: 90%;
  background-color: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  backface-visibility: hidden;

}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 12px;
}

#nav-icon3 span:nth-child(4) {
  top: 24px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  backface-visibility: hidden;
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Hamburger */