 .inventory{
    width: 1475px;
    height: 650px;
    position: absolute;
    background-color: yellow;
 }

 .invTop{
    width: auto;
    height: auto;
    float: right;
    margin-left:auto;
    justify-content: space-between;
    background-color: aqua;
    
}



.invTop input{
    border: 1.5px rgba(0, 0, 0, 0.495) solid;
    border-radius: 5px;
    height: 35px;
    font-size: 13px;
    width: 300px;
    
}


.invTop  button{
    background-color: blue;
    width: 120px;
    height: 30px;
    margin: 10px 15px;
    border-radius: 5px;
    font-size: 13px;
    color: #fff;
    /* margin: 10px 15px 10px 15px; */
}