
  .sideBtn{
    background-image: url("menu.svg");
  }

  .sidebar.open {
    left: 0; /* Slide in when open */
  }
  
  /* Button Styles */
  .sb {
    margin-top: 10px;
    margin-left: 90px;
    border: 2px rgba(0, 0, 0, 0.327) solid;
    border-radius: 10px;
    background-color: black;
  }
  .sidebar button{
    background-color: aquamarine
    ;
  }

  .sb button {
   
    height: 30px;
    width: 30px;
    background-color: white;
    background-image: url("menu.svg");
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: none;
    cursor: pointer;
 
  }
  
  .sb:hover button{
    background-color: #489df9;
  }
    
  .sb:hover {
    background-color: #489df9;
  }