.slider {
    position: fixed;
    top: 0;
    left: -500px; /* Initial position (closed) */
    width: 500px;
    height: 100%;
    background-color: #fff;
    border: 1px rgba(0, 0, 0, 0.327)  solid;
    color: #fff;
    padding: 20px;
    transition: left 0.3s ease-in-out; /* Add a smooth transition effect */
    z-index: 100;
  }

.slider .sb{
    width: 40px;
    height: 40px;
    background-color: blue;
  }

.slider .sb button {
    height: 30px;
    width: 30px;
    background-image: url("menu.svg");
    position: absolute;
  }